// -------------------------------------
//   Module - Button
// -------------------------------------
/**
  	* @name button
  	* @desc Styles for the button module.
**/

$btn_h: 48px;
$btn_w: 200px;
$btn_w_mob: 280px;
$btn_w_mob_sm: 260px;

$btn_w_tab: 200px;
$btn_w_tab_sm: 170px;

$btn_margin: 2em;
$btn_padding: 9px;

$btn_font_size: 14px;
$btn_font_height: 1.143em;

$btn-border_w: 1px;
$btn-border_r: 4px;

.button {
	cursor: pointer;
	display: table;

	height: $btn_h;
	min-width: $btn_w;
	max-width: $btn_w;

	@include mobile {
		min-width: $btn_w_mob;
		max-width: $btn_w_mob;
	}

	@include mobile-sm {
		min-width: $btn_w_mob_sm;
	}

	margin: $btn_margin 0;
	&:first-child { margin-top: 0; }
	&:last-child { margin-bottom: 0; }

	padding: $btn_padding;
	padding-top: ($btn_padding * 1.286);
	box-sizing: border-box;

	font-family: "VWHead-Bold", sans-serif;
	line-height: $btn_font_height;
	font-size: $btn_font_size;
	text-align: center;

	border-width: $btn-border_w;
	border-radius: $btn-border_r;
	border-style: solid;

	span {
		display: table-cell;
		vertical-align: middle;
	}
}

// -------------------------------------
//   Button - Types / States
// -------------------------------------
$btn_disabled_opacity: 0.5;
$btn_alternate_darken: 12%;
$btn_success_darken: 6%;
$btn_error_darken: 6%;

// modifier - primary
%button--primary {
	color: white;
	border-color: $color_blue_volkswagen;
	background-color: $color_blue_volkswagen;

	&:hover, &:active, &:focus {
		color: white;
		border-color: $color_blue_ocean;
		background-color: $color_blue_ocean;
	}
}

// modifier - secondary
%button--secondary {
	color: $color_blue_volkswagen;
	border-color: $color_grey_calm;
	background-color: white;

	&:hover, &:active, &:focus {
		color: white;
		border-color: $color_blue_ocean;
		background-color: $color_blue_ocean;
	}
}

// modifier - alternate
%button--alternate {
	color: white;
	border-color: $color_grey_warm;
	background-color: $color_grey_warm;

	&:hover, &:active, &:focus {
		color: white;
		border-color: darken($color_grey_warm, $btn_alternate_darken);
		background-color: darken($color_grey_warm, $btn_alternate_darken);
	}
}

// modifier - disabled
%button--disabled {
	cursor: not-allowed;
	border-color: $color_grey_warm;
	background-color: $color_grey_soft;
	color: rgba($color_grey_midnight, $btn_disabled_opacity);

	&:hover, &:active, &:focus {
		border-color: $color_grey_warm;
		background-color: $color_grey_soft;
		color: rgba($color_grey_midnight, $btn_disabled_opacity);
	}
}

// modifier - success
%button--success {
	color: white;
	border-color: $color_green_success;
	background-color: $color_green_success;

	&:hover, &:active, &:focus {
		color: white;
		border-color: darken($color_green_success, $btn_success_darken);
		background-color: darken($color_green_success, $btn_success_darken);
	}
}

// modifier - error
%button--error {
	color: white;
	border-color: $color_red_warning;
	background-color: $color_red_warning;

	&:hover, &:active, &:focus {
		color: white;
		border-color: darken($color_red_warning, $btn_success_darken);
		background-color: darken($color_red_warning, $btn_success_darken);
	}
}

// button
.button {
	@extend %button--primary;
	&--primary   { @extend %button--primary;   } // modifier - primary
	&--secondary { @extend %button--secondary; } // modifier - secondary
	&--alternate { @extend %button--alternate; } // modifier - alternate
	&--disabled  { @extend %button--disabled;  } // modifier - disabled

	&--success { @extend %button--success; } // modifier - success
	&--error   { @extend %button--error;   } // modifier - error

	&:hover, &:active, &:focus {
		text-decoration: none;
		span, i { text-decoration: none; }
	}

	@include transitions(color, background-color, border-color);
	span, i { transition: none !important; }
}

// -------------------------------------
//   Button - Inside Wrapper
// -------------------------------------
.button-wrapper {
	display: block;
	position: relative;

	width: 100%;
	height: auto;
	max-width: 100%;
	> .button { @extend %center-table; }
}

// -------------------------------------
//   Button - Inside Sections
// -------------------------------------
.section {
	// modifer - blue
	&--color-blue {
		// the blue colored sections
		// can only have secondary or
		// disabled button types, states
		.button:not(.button--disabled) {
			@extend %button--secondary;
		}
	}
}

.section,
.container {
	> .button-wrapper { @extend %center; }
	> .button { @extend %center-table; }

	> .button-wrapper,
	> .button {
		margin-bottom: ($btn_margin * 1.5);
		&:last-child { margin-bottom: 0; }

		margin-top: ($btn_margin * 1.5);
		&:first-child { margin-top: 0; }
	}
}
