// -------------------------------------
//   Component - Accordion
// -------------------------------------
/**
 	* @name accordion
  	* @desc Styles for the accordion component.
**/

.accordion {
	overflow: hidden;
	position: relative;
}

// custom element tag
// used by angular template
accordion {
	.accordion {
		@extend %section--margin-top;
	}

	&:first-child {
		.accordion {
			 margin-top: 0;
		}
	}
}

// -------------------------------------
//   Accordion - Wrapper, Container
// -------------------------------------
.accordion__wrapper,
.accordion__container {
	overflow: hidden;
	position: relative;
}

// -------------------------------------
//   Accordion - Tab
// -------------------------------------
$acc_tab_padding: 1.125em;
$acc_tab_border_width: 2px;

.accordion__tab {
	pointer-events: none;
	padding: $acc_tab_padding;
	margin: 0;

	text-align: left;
	border-style: solid;
	border-color: $color_grey_soft;
	border-width: $acc_tab_border_width 0;

	&__link {
		display: inline-block;
		color: $color_grey_night;
		&:hover, &:active { color: $color_grey_night; }
	}
}

// -------------------------------------
//   Accordion - Content
// -------------------------------------
.accordion__content {
	@extend %section--padding-v;
	padding-top: 0;
}

accordion {
	&:last-child {
		.accordion__wrapper:last-of-type {
			.accordion__content {
				padding-bottom: 0;
			}
		}
	}
}
