// -------------------------------------
//   Component - Carousel
// -------------------------------------
/**
  	* @name carousel
  	* @desc Styles for the carousel component.
**/

.carousel {
	@extend %center;
	overflow: visible;
	position: relative;

	// note: to temporarily disable all
	// user interactions on the carousel
	pointer-events: none;

	max-width: ((100% - $tsr_content_col_spacing) / 2);
	@include mobile { max-width: 100%; }
}

// custom element tag
// used by angular template
h1 + carousel,
h2 + carousel,
p  + carousel {
	.carousel {
		@extend %section--margin-top;
		&--x0 { display: none; margin-top: 0; }
	}
}

// -------------------------------------
//   Carousel - Slider / Frame
// -------------------------------------
.carousel__slider {
	/* empty block */
}

.carousel__frame {
	position: relative;
	overflow: hidden;

	width: 100%;
   	white-space: nowrap;
}


// -------------------------------------
//   Carousel - Slides / Slide
// -------------------------------------
.carousel__slides,
.carousel__slide {
	display: inline-block;
	vertical-align: top;
	position: relative;

	width: 100%;
	padding: 0;
	margin: 0;
}

// -------------------------------------
//   Carousel - Content
// -------------------------------------
.carousel__content {
	@extend %section--margin-bottom;
	display: inline-block;
	vertical-align: top;
	position: relative;

	width: 100%;
	padding: 0 1em;
	box-sizing: border-box;

	white-space: normal;
	text-align: center;
}

// -------------------------------------
//   Carousel - Pager
// -------------------------------------
$jny_pgr_snap_size: 40px;
$jny_pgr_snap_size_active: 56px;

$jny_pgr_snap_size_sm: 30px;
$jny_pgr_snap_size_active_sm: 42px;

.carousel__pager {
	@extend %center;
	@extend %section--margin-top;

	display: block;
	position: relative;

	width: 100%;
	@include mobile { width: 95%; }
	height: $jny_pgr_snap_size_active;
	@include tablet-sm { height: $jny_pgr_snap_size_active_sm; }
}


// -------------------------------------
//   Carousel - Pager - Path
// -------------------------------------
$jny_pgr_path_w: 95%;
$jny_pgr_path_h: 10px;

$jny_pgr_text_spacing: 3em;
$jny_pgr_text_spacing_sm: 2.5em;

.carousel__pager__path {
	width: 100%;
	height: 10px;
	margin: 0 auto;

	border-radius: $jny_pgr_path_h;
	padding-top: (($jny_pgr_snap_size_active - $jny_pgr_path_h) / 2);
	padding-bottom: (($jny_pgr_snap_size_active - $jny_pgr_path_h) / 2);

	span {
		@include transitions(all);
		z-index: $zi_overlay;
		position: relative;
		display: block;

		height: $jny_pgr_path_h;
		background-color: $color_blue_ocean;
		border-radius: $jny_pgr_snap_size_active;
	}

	span + span {
		@extend %transform-center;
		z-index: $zi_default;

		width: $jny_pgr_path_w !important;
		background-color: $color_blue_ocean;
	}

	@include tablet-sm {
		padding-top: (($jny_pgr_snap_size_active_sm -  $jny_pgr_path_h) / 2);
		padding-bottom: (($jny_pgr_snap_size_active_sm -  $jny_pgr_path_h) / 2);
		span { border-radius: $jny_pgr_snap_size_active_sm; }
	}
}

// modifiers
.carousel__pager {
	margin-bottom: ($jny_pgr_text_spacing - 1em);
	@include tablet-sm { margin-bottom: ($jny_pgr_text_spacing_sm - 1em); }

	// x1, x2,
	// x3, x4
	&--x1, &--x2,
	&--x3, &--x4 { .carousel__pager__path {
		&[active-at='0'] { span { width: 0; }}
	}}

	// x2
	&--x2 { .carousel__pager__path {
		&[active-at='1'] { span { width: 100%; }}
	}}

	// x3
	&--x3 { .carousel__pager__path {
		&[active-at='1'] { span { width: 50%; }}
		&[active-at='2'] { span { width: 100%; }}
	}}

	// x4
	&--x4 { .carousel__pager__path {
		&[active-at='1'] { span { width: (100% / 3); }}
		&[active-at='2'] { span { width: (100% / 3 * 2); }}
		&[active-at='3'] { span { width: (100% / 3 * 3); }}
	}}
}

// -------------------------------------
//   Carousel - Pager - Snap
// -------------------------------------
$jny_pdr_color_active: #bcd5d8; // rgb(188, 213, 216);

.carousel__pager__snap {
	z-index: $zi_overlay;
	@include transitions(all);
	@extend %transform-center-v;

	width : $jny_pgr_snap_size;
	height: $jny_pgr_snap_size;
	text-align: center;
	box-sizing: border-box;
	vertical-align: middle;

	border-radius: 100%;
	background-color: $color_blue_ocean;
	transform: translate(-($jny_pgr_snap_size / 2), -50%);
	&:first-of-type { left: 0; }  &:last-of-type  { left: 100%; }

	span {
		@extend %transform-center;
		@include transitions(all);

		display: block;
		width : ($jny_pgr_snap_size / 2);
		height: ($jny_pgr_snap_size / 2);

		border-radius: 100%;
		box-sizing: border-box;
		background-color: white;
	}

	p {
		@extend %transform-center;
		color: $color_grey_midnight;
		margin-top: $jny_pgr_text_spacing;
	}

	&--is-active,
	&--is-disabled {
		pointer-events: none;
	}

	&--is-active {
		width : $jny_pgr_snap_size_active;
		height: $jny_pgr_snap_size_active;
		transform: translate(-($jny_pgr_snap_size_active / 2), -50%);

		span {
			width : ($jny_pgr_snap_size_active / 1.5);
			height: ($jny_pgr_snap_size_active / 1.5);
			background-color: $jny_pdr_color_active;
		}

		p {
			font-family: "VWHead-Bold";
			font-weight: normal;
		}
	}

	@include tablet-sm {
		width : $jny_pgr_snap_size_sm;
		height: $jny_pgr_snap_size_sm;
		transform: translate(-($jny_pgr_snap_size_sm / 2), -50%);

		span {
			width : ($jny_pgr_snap_size_sm / 2);
			height: ($jny_pgr_snap_size_sm / 2);
		}

		p { margin-top: $jny_pgr_text_spacing_sm; }

		&--is-active {
			width : $jny_pgr_snap_size_active_sm;
			height: $jny_pgr_snap_size_active_sm;
			transform: translate(-($jny_pgr_snap_size_active_sm / 2), -50%);

			span {
				width : ($jny_pgr_snap_size_active_sm / 1.65);
				height: ($jny_pgr_snap_size_active_sm / 1.65);
			}
		}
	}
}

// modifiers
.carousel__pager {
	// x1, x2,
	// x3, x4
	&--x1, &--x2,
	&--x3, &--x4 { .carousel__pager__snap {
		/* empty block */
	}}

	// x3
	&--x3 { .carousel__pager__snap {
		&:nth-of-type(2) { left: (100% / 2); }
	}}

	// x4
	&--x4 { .carousel__pager__snap {
		&:nth-of-type(2) { left: (100% / 3);   }
		&:nth-of-type(3) { left: (100% / 1.5); }
	}}
}

// -------------------------------------
//   Carousel - Prev / Next
// -------------------------------------
.carousel__prev,
.carousel__next {
	position: absolute;
	display: block;

	width: $jny_pgr_snap_size_active;
	height: $jny_pgr_snap_size_active;

	top: 8.75vw;
	@include desktop-lg-up { top: 24.5%; }
	@include tablet    { top: 8.25vw; }
	@include tablet-sm { top: 7.75vw; }
	@include mobile { display: none; }

	color: $color_blue_volkswagen;
	&:hover, &:active { color: $color_blue_ocean; }

	i, .icon {
		@include transitions(color);
		vertical-align: middle;

		line-height: $jny_pgr_snap_size_active;
		font-size: $jny_pgr_snap_size_active;
	}

}

.carousel__prev {
	left: -$section_pad;
	margin-left: -$jny_pgr_snap_size_active;

	@include tablet { left: -$section_pad_tab; }
	@include tablet-sm { left: -$section_pad_tab_sm; }
}

.carousel__next {
	right: -$section_pad;
	margin-right: -$jny_pgr_snap_size_active;

	@include tablet { right: -$section_pad_tab; }
	@include tablet-sm { right: -$section_pad_tab_sm; }
}
