// -------------------------------------
//   Component - Feature Wrapper
// -------------------------------------
/**
  	* @name feature-wrapper
  	* @desc Styles for the feature wrapper component.
**/

.feature-wrapper {
	position: relative;
	overflow: hidden;
}

// custom element tag
// used by angular template
feature-wrapper {
	.feature-wrapper {
		@extend %section--margin-top;
	}

	&:first-child {
		.feature-wrapper {
			 margin-top: 0;
		}
	}
}

// -------------------------------------
//   Feature Wrapper - Image
// -------------------------------------
.feature-wrapper__image {
	/* empty block */
}

// -------------------------------------
//   Feature Wrapper - Video
// -------------------------------------
.feature-wrapper__video .media-player-inline__play {
	// extend the small media player play styles
	@extend %media-player-inline__play--small;
}

// -------------------------------------
//   Feature Wrapper - Content
// -------------------------------------
.feature-wrapper__content {
	> h3, > p, > a {
		&:first-child { margin-top: 1em; }
	}

	@include mobile-up {
		.teaser-content__row--x3 &
		.teaser-content__row--x2 & {
			padding-bottom: $btn_h + ($btn_font_size * 2) - 16px;
			&--no-padding { padding-bottom: 0; }

			.button {
				@include transform-center-h(false);
				position: absolute;
				bottom: 0;
			}
		}

		.teaser-content__row--x1 & {
			> h3, > p, > a {
				&:first-child { margin-top: 0; }
			}
		}
	}
}
