// -------------------------------------
//   Component - Media Player Inline
// -------------------------------------
/**
  	* @name media-player-inline
  	* @desc Styles for the media player inline component.
**/

.media-player-inline {
	position: relative;
	overflow: hidden;

	width: 100%;
	height: auto;
	padding-bottom: 56.25%;
	background-color: black;

	iframe, html, body {
		overflow: hidden !important;
		z-index: $zi_default !important;
		background-color: black !important;
	}
}

// custom element tag
// used by angular template
media-player-inline {
	.media-player-inline {
		@extend %section--margin-top;
	}

	&:first-child {
		.media-player-inline {
			 margin-top: 0;
		}
	}
}


// -------------------------------------
//   Media Player Inline - Elements
// -------------------------------------
.media-player-inline {
	// video, youtube
	//  overlay, image
	&__video, &__youtube,
	&__overlay, &__image {
		overflow: hidden;
		cursor: pointer;
		height: 100%;
		width: 100%;
	}

	// video, overlay, image
	&__video, &__overlay, &__image {
		position: absolute;
	}

	// youtube
	&__youtube {
		position: relative;
	}
}

// -------------------------------------
//   Media Player Inline - Video
// -------------------------------------
.media-player-inline__video {
	z-index: $zi_default;
	background-color: black;
}

// -------------------------------------
//   Media Player Inline - Overlay
// -------------------------------------
.media-player-inline__overlay {
	z-index: $zi_overlay;
	background-color: black;
}

// -------------------------------------
//   Media Player Inline - Image
// -------------------------------------
.media-player-inline__image {
	z-index: $zi_overlay;
}

// -------------------------------------
//   Media Player Inline - Play
// -------------------------------------
$mplyr_inline_size: 10vw;
$mplyr_inline_size_min: 70px;
$mplyr_inline_size_max: 140px;

$mplyr_inline_size_sm: 7.5vw;
$mplyr_inline_size_sm_min: 70px;
$mplyr_inline_size_sm_max: 100px;

%media-player-inline__play--default {
	width: $mplyr_inline_size;
	height: $mplyr_inline_size;
	min-width: $mplyr_inline_size_min;
	max-width: $mplyr_inline_size_max;
	min-height: $mplyr_inline_size_min;
	max-height: $mplyr_inline_size_max;

	i, .icon {
		font-size: 4rem; // 64px
		@include tablet-sm { font-size: 3rem;    } // 48px
		@include mobile    { font-size: 2.333em; } // 35px
		@include mobile-sm { font-size: 2rem;    } // 30px
	}
}

%media-player-inline__play--small {
	width: $mplyr_inline_size_sm;
	height: $mplyr_inline_size_sm;
	min-width: $mplyr_inline_size_sm_min;
	max-width: $mplyr_inline_size_sm_max;
	min-height: $mplyr_inline_size_sm_min;
	max-height: $mplyr_inline_size_sm_max;

	i, .icon {
		font-size: 3rem; // 48px
		@include tablet-sm { font-size: 2.333em; } // 35px
		@include mobile    { font-size: 2.333em; } // 35px
		@include mobile-sm { font-size: 2rem;    } // 30px
	}
}

.media-player-inline__play {
	// extend the default media player play styles
	@extend %media-player-inline__play--default;

	cursor: pointer;
	position: absolute;
	z-index: $zi_overlay;

	// center the play both verticall
	// and horizontally on all devices
	@include transitions(background-color);
	@extend %transform-center;
	border-radius: 100%;

	i, .icon {
		margin-top: (1em / 15);
		margin-left: (1em / 15);
		@extend %transform-center;
		@include transitions(color);
	}
}

// -------------------------------------
//   Media Player Inline - Modifiers
// -------------------------------------
$mplyr_inline_opacity: 0.5;
$mplyr_inline_opacity_hover: 0.6;

// default
.media-player-inline--default {
	.media-player-inline__play {
		background-color: rgba(black, $mplyr_inline_opacity);
		i, .icon { color: rgba(white, 0.95); }
	}

	&:hover,
	&:active {
		.media-player-inline__play {
			background-color: rgba(black, $mplyr_inline_opacity_hover);
			i, .icon { color: rgba(white, 1); }
		}
	}
}

// alternate
.media-player-inline--alt {
	.media-player-inline__play {
		background-color: rgba(white, $mplyr_inline_opacity);
		i, .icon { color: rgba(black, 0.95); }
	}

	&:hover,
	&:active {
		.media-player-inline__play {
			background-color: rgba(white, $mplyr_inline_opacity_hover);
			i, .icon { color: rgba(black, 1); }
		}
	}
}

// -------------------------------------
//   Media Player Inline - Mobile
// -------------------------------------
// mobile
.media-player-inline--mobile {
	.media-player-inline__overlay,
	.media-player-inline__image {
		pointer-events: none;
	}
}
