// -------------------------------------
//   Component - Ming Zing Tiles
// -------------------------------------
/**
  	* @name ming-zing-tiles
  	* @desc Styles for the ming zing tiles component.
**/

$mzt_margin: 20px;
$mzt_padding: 20px;

.ming-zing-tiles {
	position: relative;
	overflow: hidden;

	&__figure {
		@include tablet {
			/* empty block */
		}
	}

	&__figure--desktop {
		@include tablet {
			display: none !important;
		}
	}
}

// custom element tag
// used by angular template
ming-zing-tiles {
	.ming-zing-tiles {
		@extend %section--margin-top;
	}

	&:first-child {
		.ming-zing-tiles {
			 margin-top: 0;
		}
	}
}

// -------------------------------------
//   Ming Zing Tiles - Grid
// -------------------------------------
.ming-zing-tiles__grid {
	position: relative;
	clear: both;

	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.ming-zing-tiles__grid figure {
	position: relative;
	overflow: hidden;
	float: left;

	height: auto;
	margin: ($mzt_margin / 2);
	width: calc(25% - #{$mzt_margin});

	text-align: center;
	background-color: $color_grey_night;

	transform: translateZ(0);
	backface-visibility: hidden;

	@include tablet {
		width: calc(50% - #{$mzt_margin});
	}

	@include mobile {
		display: inline-block;
		float: none;

		margin: ($mzt_margin / 2) auto;
		width: 100%;
	}
}

.ming-zing-tiles__grid figure img {
	position: relative;
	display: block;

	/* min-height: 100%; */
	max-width: 100%;
	opacity: 0.8;
}

.ming-zing-tiles__grid figure figcaption {
	padding: ($mzt_padding / 2);
	color: white;

	text-transform: none;
	transform: translateZ(0);
	backface-visibility: hidden;
}

.ming-zing-tiles__grid figure figcaption::before,
.ming-zing-tiles__grid figure figcaption::after {
	pointer-events: none;
}

.ming-zing-tiles__grid figure figcaption {
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	width: 100%;
}

.ming-zing-tiles__grid figure h2,
.ming-zing-tiles__grid figure p {
	margin: 0;
	color: white;
}

// -------------------------------------
//   Ming Zing Tiles - Effect Ming
// -------------------------------------
figure.ming-zing-tiles__effect-ming,
figure.ming-zing-tiles__effect-disabled {
	background: $color_grey_night;
}

figure.ming-zing-tiles__effect-ming img,
figure.ming-zing-tiles__effect-disabled img {
	@include transitions(opacity);
	opacity: 0.9;
}

figure.ming-zing-tiles__effect-ming figcaption::before {
	position: absolute;
	top: $mzt_margin; left: $mzt_margin;
	right: $mzt_margin; bottom: $mzt_margin;

	border: 2px solid white;
	box-shadow: 0 0 0 $mzt_padding rgba(white, 0.2);

	content: '';
	opacity: 0;

	@include transitions(opacity, transform);
	transform: scale3d(1.5, 1.5, 1);
}

figure.ming-zing-tiles__effect-ming h2 {
	@extend %transform-center-v;
	padding: $mzt_padding;
	width: 100%;
	left: 0;

	margin: 0;
	transform: translateY(-50%) scale(1);
	@include transitions(opacity, transform);
}

figure.ming-zing-tiles__effect-ming p {
	@extend %transform-center-v;
	padding: ($mzt_padding * 1.5);
	width: 100%;
	left: 0;

	opacity: 0;
	transform: translateY(-50%) scale(1.5);
	@include transitions(opacity, transform);

	@include tablet {
		padding: ($mzt_padding * 3);
	}
}

figure.ming-zing-tiles__effect-ming:hover h2,
figure.ming-zing-tiles__effect-ming--focus h2 {
	margin: 0;
	opacity: 0;
	transform: translateY(-50%) scale(0);
}

figure.ming-zing-tiles__effect-ming:hover figcaption::before,
figure.ming-zing-tiles__effect-ming--focus figcaption::before,
figure.ming-zing-tiles__effect-ming:hover p,
figure.ming-zing-tiles__effect-ming--focus p {
	opacity: 1;
}

figure.ming-zing-tiles__effect-ming:hover figcaption::before,
figure.ming-zing-tiles__effect-ming--focus figcaption::before {
	transform: scale3d(1, 1, 1);
}

figure.ming-zing-tiles__effect-ming:hover p,
figure.ming-zing-tiles__effect-ming--focus p {
	transform: translateY(-50%) scale3d(1, 1, 1);
}

figure.ming-zing-tiles__effect-ming:hover figcaptio$n,
figure.ming-zing-tiles__effect-ming--focus figcaption {
	background-color: rgba($color_grey_midnight, 0);
}

figure.ming-zing-tiles__effect-ming:hover img,
figure.ming-zing-tiles__effect-ming--focus img {
	opacity: 0.4;
}
