// -------------------------------------
//   Component - Shipping Pathway
// -------------------------------------
/**
    * @name shipping-pathway
    * @desc Styles for the shipping pathway component.
**/

$shpwy_pad_bottom: 150px;
$shpwy_pad_bottom_tab: 180px;
$shpwy_pad_bottom_mob: 180px;
$shpwy_h_min: $base_html_w_min + $shpwy_pad_bottom;
$shpwy_h_min_mob: $base_html_w_min + $shpwy_pad_bottom_mob;

$shpwy_cmp_bg_color: white;
$shpwy_map_bg_color: #8db3c3;

.shpwy {
    position: relative;
    display: block;

    min-width: $base_html_w_min;
    min-height: $shpwy_h_min_mob;
    padding-bottom: $shpwy_pad_bottom_mob;

    // note: the component only contains padding
    // and maximum width restrictions above mobile
    @include mobile-up {
        @include container;
        @include section--padding-h;

        min-height: $shpwy_h_min;
        padding-bottom: $shpwy_pad_bottom_tab;
    }

    // note: the component only contains padding
    // and maximum width restrictions above mobile
    @include tablet-up {
        min-height: $shpwy_h_min;
        padding-bottom: $shpwy_pad_bottom;
    }
}

// custom tag element used
// in the angular template
shipping-pathway {
    .shpwy { @extend %section--margin-top;  }
    &:first-child { .shpwy { margin-top: 0; }}
}

// ---------------------------------------
//   Shipping Pathway - Marker
// ---------------------------------------
// the dot would be 12.59px - 25.18%
// (used in factory/dot.factory.js)
$shpwy_mrkr_w_max: 50px;
// the height would be 82px - 1.64x
// (used in factory/pin.factory.js)

 // the dot would be 10.072px - 25.18%
// (used in factory/dot.factory.js)
$shpwy_mrkr_w_max_mob: 40px;
// the height would be 66px - 1.65x
// (used in factory/pin.factory.js)

.shpwy__mrkr {
    position: relative;
    overflow: visible;
    display: block;

    width: 100%;
    height: auto;
    max-width: $shpwy_mrkr_w_max;
    @include mobile { max-width: $shpwy_mrkr_w_max_mob; }

    // marker - image
    &__image {
        @extend %transform-center-v;
        user-select: none;

        // to prevent jagged edges that are visible
        // on certain browsers like chrome, firefox
        //  after tranform animations are applied
        outline: 1px solid transparent; /*
        backface-visibility: hidden; */

        z-index: $zi_overlay;
        position: absolute;
        display: block;

        width: 100%;
        height: auto;
        margin-left: 4%;
        margin-top: -48%;
        max-width: ($shpwy_mrkr_w_max - 5px) !important;

        @include mobile {
            margin-left: 6%;
            margin-top: -48%;
            max-width: ($shpwy_mrkr_w_max_mob - 5px) !important;
        }
    }

    // marker - svg
    &__svg { overflow: visible !important; }

    // center the marker on screen
    // if it resides directly under
    // the map area (used in loader)
    .shpwy__map-area > & {
        z-index: $zi_overlay;
        position: absolute;

        // centering vertically and
        // horizontally without trasform
        // because transform would be used
        // while animating the marker on map
        left: 0; right: 0;
        margin: auto; top: 50%;
        margin-top: -($shpwy_mrkr_w_max * 1.65 / 2);
        @include mobile { margin-top: -($shpwy_mrkr_w_max_mob * 1.65 / 2); }
    }
}

// ---------------------------------------
//   Shipping Pathway - Marker - Pin
// ---------------------------------------
$shpwy_mrkr_opacity_pulseo: 0.2;
$shpwy_mrkr_opacity_pulsei: 0.5;
$shpwy_mrkr_opacity_circ: 0.8;
$shpwy_mrkr_opacity_path: 0.8;
$shpwy_mrkr_opacity_dot: 1;

$shpwy_mrkr_fill_pulseo: #0c98d6; // rgb(12, 152,214)
$shpwy_mrkr_fill_pulsei: #0c98d6; // rgb(12, 152,214)
$shpwy_mrkr_fill_circ:   #ffffff; // rgb(255,255,255)
$shpwy_mrkr_fill_path:   #f5f6fa; // rgb(245,246,250)
$shpwy_mrkr_fill_dot:    #0c98d6; // rgb(12, 152,214)

.shpwy__mrkr__pin {
    position: relative;
    overflow: visible;
    display: block;

    // marker - pin - pulse
    &__pulse {
        // the pulse is not visible
        // and scaled down by default
        opacity: 0; transform: scale(0); /*
        opacity: 1; transform: scale(1); */
    }

    // marker - pin - pulse - outer
    &__pulse--outer {
        opacity: 0; transform: scale(0); /*
        opacity: $shpwy_mrkr_opacity_pulseo; */
        fill: $shpwy_mrkr_fill_pulseo;
        enable-background: new;
    }

    // marker - pin - pulse - inner
    &__pulse--inner {
        opacity: 0; transform: scale(0); /*
        opacity: $shpwy_mrkr_opacity_pulsei; */
        fill: $shpwy_mrkr_fill_pulsei;
        enable-background: new;
    }

    // marker - pin - dot
    &__dot {
        // the dot is not
        // visible by default
        opacity: 0; /*
        opacity: $shpwy_mrkr_opacity_dot; */

        fill: $shpwy_mrkr_fill_dot;
        enable-background: new;
    }

    // marker - pin - circle
    &__circle {
        opacity: $shpwy_mrkr_opacity_circ;
        fill: $shpwy_mrkr_fill_circ;
    }

    // marker - pin - path
    &__path {
        opacity: $shpwy_mrkr_opacity_path;
        fill: $shpwy_mrkr_fill_path;
    }
}

// -------------------------------------
//   Shipping Pathway - Map Area
// -------------------------------------
.shpwy__map-area {
    position: relative;
    display: block;
    height: auto;

    overflow: hidden;
    background-color: $shpwy_map_bg_color;

    // map area - overlay
    // map area - layout
    // map area - map
    &__overlay,
    &__layout,
    &__map {
        display: block;
        overflow: hidden;
        background-color: $shpwy_map_bg_color;
    }

    // map area - overlay
    // map area - map
    &__overlay,
    &__map {
        position: absolute;
        z-index: $zi_default;
        pointer-events: none;
    }

    // map area - overlay
    &__overlay {
        height: 100%; width: 100%;
        left: 0; top: 0;
    }

    // map area - layout
    &__layout {
        // note: the small tablet
        // takes the mobile layout
        @include tablet-sm {
            &--desktop { display: none  !important; }
            &--mobile  { display: block !important; }
        }
    }

    // map area - map
    &__map {
        @extend %transform-center;

        // to prevent jagged edges that are visible
        // on certain browsers like chrome, firefox
        //  after tranform animations are applied
        outline: 1px solid transparent;
        backface-visibility: hidden;
        height: 110%; width: 110%;

        // disable user events on map
        // and ensure it contains the
        // correct background color
        > div {
            z-index: $zi_default;
            pointer-events: none !important;
            background-color: $shpwy_map_bg_color !important;
        }

        // disable the map logo, footer and copyright
        a[href^="https://maps.google.com/maps"],
        a[href^="http://maps.google.com/maps"],
        a[href^="https://www.google.com/maps"] {
            display: none !important;
        }

        // disable the map logo, footer and copyright
        .gmnoprint:not(.gm-bundled-control) {
            display: none;
        }

        // disable the map logo, footer and copyright
        .gm-bundled-control .gmnoprint {
            display: block;
        }
    }
}

// ---------------------------------------
//   Shipping Pathway - Map Area - Field
// ---------------------------------------
$shpwy_field_w_max: 450px;
$shpwy_field_w_max_mob: 450px;
$shpwy_field_txt_color: black;

$shpwy_field_pad: 40px;
$shpwy_field_pad_mob: 20px;

$shpwy_field_txt_h: 2em;
$shpwy_field_txt_pad: 20px;
$shpwy_field_txt_pad_mob: 15px;

// map area - field
.shpwy__map-area__field {
    @extend %transform-center-h;

    // to prevent jagged edges that are visible
    // on certain browsers like chrome, firefox
    //  after tranform animations are applied
    outline: 1px solid transparent;
    backface-visibility: hidden;

    z-index: $zi_overlay;
    position: absolute;
    overflow: hidden;
    display: block;

    top: $shpwy_field_pad;
    padding: 0 $shpwy_field_pad;
    background-color: transparent;

    width: 100%;
    max-width: $shpwy_field_w_max + ($shpwy_field_pad * 2);

    @include mobile {
        top: $shpwy_field_pad_mob;
        padding: 0 $shpwy_field_pad_mob;
        max-width: $shpwy_field_w_max_mob + ($shpwy_field_pad_mob * 2);
    }
}

// ---------------------------------------
//   Shipping Pathway - Map Area - Text
// ---------------------------------------
.shpwy__map-area__txt {
    display: block;
    overflow: hidden;
    position: relative;
    height: $shpwy_field_txt_h;

    text-align: left;
    box-sizing: border-box;
    background-color: white;

    &__icon, &__span {
        padding: 0 $shpwy_field_txt_pad;
        @include mobile { padding: 0 $shpwy_field_txt_pad_mob; }

        font-family: "VWText-Regular", sans-serif;
        color: $shpwy_field_txt_color;
        user-select: none;
    }

    &__icon {
        display: inline-block;
        transform: rotate(45deg);
        line-height: ($shpwy_field_txt_h * 1.085) !important;

        margin-top: -0.45em;
        padding-right: ($shpwy_field_txt_pad_mob / 3);

        @include mobile {
            margin-top: -0.35em;
            padding-right: ($shpwy_field_txt_pad_mob / 3);
        }
    }

    &__icon + &__span,
    &__span + &__span {
        margin: 0;
        position: absolute;
        display: inline-block;
        line-height: ($shpwy_field_txt_h * 0.995) !important;

        padding-left: ($shpwy_field_txt_pad_mob / 3);
        @include mobile { padding-left: ($shpwy_field_txt_pad_mob / 3); }
    }
}

// -----------------------------------------------
//   Shipping Pathway - Animation - Marker Fade
// -----------------------------------------------
$shpwy_anim_mrkr_delay_fade: 0.250s;
$shpwy_anim_mrkr_durtn_fade: 0.500s;

// placeholder - fade
%shpwy__animation__mrkr-fade {
    animation-duration: $shpwy_anim_mrkr_durtn_fade;
    animation-timing-function: ease;

    transform-box: fill-box;
    animation-fill-mode: both;
    animation-direction: normal;
}

// placeholder - fade - in
%shpwy__animation__mrkr-fade--in {
    @extend %shpwy__animation__mrkr-fade;
    animation-name: anim__mrkr-fade--in;
    animation-delay: $shpwy_anim_mrkr_delay_fade;
}

// keyframe - fade - in
@keyframes anim__mrkr-fade--in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

// animation - fade
// animation - fade - in
.shpwy__animation__mrkr-fade     { @extend %shpwy__animation__mrkr-fade; }
.shpwy__animation__mrkr-fade--in { @extend %shpwy__animation__mrkr-fade--in; }


// -----------------------------------------------
//   Shipping Pathway - Animation - Marker Pulse
// -----------------------------------------------
$shpwy_anim_mrkr_delay_pulse: ($shpwy_anim_mrkr_delay_fade + $shpwy_anim_mrkr_durtn_fade);
$shpwy_anim_mrkr_durtn_pulse: 1.675s;
$shpwy_anim_mrkr_scale_mid:   0.675;
$shpwy_anim_mrkr_scale_max:   1.35;

// placeholder - pulse
%shpwy__animation__mrkr-pulse {
    animation-duration: $shpwy_anim_mrkr_durtn_pulse;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    transform-box: fill-box;
    animation-fill-mode: both;
    animation-direction: normal;
    transform-origin: center center;
}

// placeholder - pulse - outer
%shpwy__animation__mrkr-pulse--outer {
    @extend %shpwy__animation__mrkr-pulse;
    animation-name: anim__mrkr-pulse--outer;
    animation-delay: $shpwy_anim_mrkr_delay_pulse;
}

// placeholder - pulse - inner
%shpwy__animation__mrkr-pulse--inner {
    @extend %shpwy__animation__mrkr-pulse;
    animation-name: anim__mrkr-pulse--inner;
    animation-delay: $shpwy_anim_mrkr_delay_pulse + ($shpwy_anim_mrkr_durtn_pulse / 10);
}

// keyframe - pulse - outer
@keyframes anim__mrkr-pulse--outer {
    0%   { opacity: 0; transform: scale(0); }
    50%  { opacity: $shpwy_mrkr_opacity_pulseo; transform: scale($shpwy_anim_mrkr_scale_mid); }
    100% { opacity: 0; transform: scale($shpwy_anim_mrkr_scale_max); }
}

// keyframe - pulse - inner
@keyframes anim__mrkr-pulse--inner {
    0%   { opacity: 0; transform: scale(0); }
    50%  { opacity: $shpwy_mrkr_opacity_pulsei; transform: scale($shpwy_anim_mrkr_scale_mid); }
    100% { opacity: 0; transform: scale($shpwy_anim_mrkr_scale_max); }
}

// animation - pulse
// animation - pulse - outer
// animation - pulse - inner
.shpwy__animation__mrkr-pulse        { @extend %shpwy__animation__mrkr-pulse; }
.shpwy__animation__mrkr-pulse--outer { @extend %shpwy__animation__mrkr-pulse--outer; }
.shpwy__animation__mrkr-pulse--inner { @extend %shpwy__animation__mrkr-pulse--inner; }

// -----------------------------------------------
//   Shipping Pathway - Animation - Text Loading
// -----------------------------------------------
$shpwy_anim_txt_duration: $shpwy_anim_mrkr_durtn_pulse;

// placeholder - loading
%shpwy__animation__txt-loading {
    animation-duration: $shpwy_anim_txt_duration;
    animation-timing-function: $ease_in_out_quad;
    animation-iteration-count: infinite;

    animation-direction: normal;
    animation-fill-mode: both;

    animation-name: anim__txt-loading;
    animation-delay: 0;
}

// keyframe - loading
@keyframes anim__txt-loading {
    // progressively increase the
    // dots in the cotnent for
    // the text loading effect
    0%  { content: "."; } 20% { content: "."; }
    33% { content: ". ."; } 66% { content: ". . ."; }
    80% { content: ". . . ."; } 100% { content: ". . . ."; }
}

// animation - loading
.shpwy__animation__txt-loading {
    // animation is applied
    // on the content of
    // the pseudo element
    &:after {
        content: ". . . ."; // default content
        @extend %shpwy__animation__txt-loading;
    }
}

