// -------------------------------------
//   Component - Tab Icons
// -------------------------------------
/**
  	* @name tab-icons
  	* @desc Styles for the tab icons component.
**/

.tab-icons {
	overflow: hidden;
	text-align: center;
}

// -------------------------------------
//   Tab Box Icons - Wrapper
// -------------------------------------
$ti_width: (100% / 6);
$ti_width_sm: ($ti_width * 2);

$ti_padding: (5.5% / 4);
$ti_padding_sm: ($ti_padding * 2);

.tab-icons__wrapper {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;

	width: $ti_width;
	padding: 0 $ti_padding;
	padding-top: ($ti_padding * 2);

	@include tablet-sm {
		width: $ti_width_sm;
		padding: 0 $ti_padding_sm;
		padding-top: ($ti_padding_sm * 2);
	}
}

// -------------------------------------
//   Tab Box Icons - Content
// -------------------------------------
.tab-icons {
	i, .icon {
		display: inline-block;
		position: relative;
		overflow: hidden;

		width: 5vw;
		height: 5vw;
		padding: 3.25vw;

		color: white;
		font-size: 5vw;
		line-height: 5vw;
		background-color: black;
		&::before { @extend %transform-center; }

		@include tablet-sm {
			width: (5vw * 1.5);
			height: (5vw * 1.5);
			padding: (3.2vw  * 1.5);

			font-size: (5vw * 1.5);
			line-height: (5vw * 1.5);
		}

		@include mobile-sm {
			width: (5vw * 2);
			height: (5vw * 2);
			padding: (3.2vw  * 2);

			font-size: (5vw * 2);
			line-height: (5vw * 2);
		}

		@include desktop-lg-up {
			width: 90px;
			height: 90px;
			padding: 56px;

			font-size: 90px;
			line-height: 90px;
		}
	}
}
