// -------------------------------------
//   Component - Teaser Next Steps
// -------------------------------------
/**
  	* @name teaser-next-steps
  	* @desc Styles for the next steps teaser component.
**/

.teaser-next-steps {
	position: relative;
	overflow: hidden;
}

// custom element tag
// used by angular template
teaser-next-steps {
	.teaser-next-steps {
		@extend %section--margin-top;
	}

	&:first-child {
		.teaser-next-steps {
			 margin-top: 0;
		}
	}
}

// -------------------------------------
//   Teaser Next Steps - Basic
// -------------------------------------
.teaser-next-steps__basic {
	@include mobile {
		text-align: left;
	}
}

// -------------------------------------
//   Teaser Next Steps - Image
// -------------------------------------
$tsr_nxt_stps_img_w: 40%;
$tsr_nxt_stps_content_w: (100% - $tsr_nxt_stps_img_w);

.teaser-next-steps__image {
	@include mobile {
		display: inline-block;
		vertical-align: top;

		margin-top: 0.25em;
		max-width: $tsr_nxt_stps_img_w;

		.teaser-content__row--x1 & {
			display: block;

			margin-top: 0;
			max-width: 100%;
		}
	}
}

// -------------------------------------
//   Teaser Next Steps - Video
// -------------------------------------
.teaser-next-steps__video .media-player-inline__play {
	// extend the small media player play styles
	@extend %media-player-inline__play--small;
}

// ---------------------------------------
//   Teaser Next Steps - Content
// ---------------------------------------
.teaser-next-steps__content {
	> h3, > p, > a {
		&:first-child { margin-top: 1em; }
	}

	@include mobile-up {
		.teaser-content__row--x1 & {
			> h3, > p, > a {
				&:first-child { margin-top: 0; }
			}
		}
	}
}

// ---------------------------------------
//   Teaser Next Steps - Image + Content
// ---------------------------------------
.teaser-next-steps__image + .teaser-next-steps__content {
	// no br tags are visible on
	// smaller devices due to
	// lack of adequate space
	/* @include tablet-sm {
		br { display: none; }
	} */

	@include mobile {
		display: inline-block;
		vertical-align: top;

		max-width: $tsr_nxt_stps_content_w;
		text-align: left;

		box-sizing: border-box;
		padding-left: $tsr_content_col_spacing;

		> h3, > p, > a {
			&:first-child { margin-top: 0; }
		}

		> h3 {
			text-align: left;
			&:first-child { margin-bottom: 0.75em; }
		}

		.teaser-content__row--x1 & {
			display: block;

			max-width: 100%;
			padding-left: 0;

			text-align: center;
			> h3 { text-align: center; }
			> h3, > p, > a { &:first-child { margin-top: 1em; }}
		}
	}
}

// ---------------------------------------
//   Teaser Next Steps - Video + Content
// ---------------------------------------
.teaser-next-steps__video + .teaser-next-steps__content {
	@include mobile { text-align: center; }
}
