<!-- carousel -->
<div class="carousel carousel--{{::$ctrl.type}}">

    <!-- slider -->
    <div class="js_slider carousel__slider">
        <!-- frame -->
        <div class="js_frame carousel__frame">
            <!-- slides -->
            <ul class="js_slides carousel__slides">
                <!-- slide -->
                <li class="js_slide carousel__slide" ng-repeat="carousel in ::$ctrl.data.children" ng-if="::($index >= ($ctrl.startAt - 1))" ng-init="$last && $ctrl.onRenderComplete()">

                    <!-- content -->
                    <div class="carousel__content" ng-if="::(carousel.headline || carousel.copy)">
                        <h3 ng-if="::carousel.headline" ng-bind-html="::carousel.headline"> </h3>
                        <p ng-if="::carousel.copy" ng-bind-html="::carousel.copy"> </p>
                    </div><!-- content end -->

                    <!-- image -->
                    <div class="image carousel__image">
                        <!-- image layout - desktop -->
                        <img class="image__layout image__layout--desktop" ng-src="{{::($ctrl.CONFIG.path.images + 'layout_16_9.png')}}" alt="" dominant-color="{{::carousel.image.desktop}}" ng-if="::!$ctrl.CONFIG.device.isPhone">

                        <!-- image layout - mobile -->
                        <img class="image__layout image__layout--mobile" ng-src="{{::($ctrl.CONFIG.path.images + 'layout_16_9.png')}}" alt="" dominant-color="{{::carousel.image.mobile}}">

                        <!-- image cover - desktop -->
                        <div class="image__cover image__cover--desktop" ng-style="::{'background-image':'url({{::carousel.image.desktop}})'}" dominant-color="{{::carousel.image.desktop}}" ng-if="::!$ctrl.CONFIG.device.isPhone"></div>

                        <!-- image cover - mobile -->
                        <div class="image__cover image__cover--mobile" ng-style="::{'background-image':'url({{::carousel.image.mobile}})'}" dominant-color="{{::carousel.image.mobile}}"></div>
                    </div><!-- image end -->

                </li><!-- slide end -->
            </ul><!-- slides end -->
        </div><!-- frame end -->
    </div><!-- slider end -->

    <!-- pager -->
    <div class="carousel__pager carousel__pager--{{::$ctrl.type}}">
        <!-- pager - path -->
        <div class="carousel__pager__path" active-at="{{$ctrl.activeAt}}"><span></span><span></span></div>

        <!-- pager - snap -->
        <a class="carousel__pager__snap needsclick" ng-repeat="carousel in ::$ctrl.data.children" href="#" title="{{::('Go to ' + (($first || $last) ? ($first ? 'first' : 'last') : 'next'))}}" ng-class="{'carousel__pager__snap--is-active': carousel.isActive, 'carousel__pager__snap--is-filled': ($ctrl.activeAt > $index), 'carousel__pager__snap--is-disabled': $index < ($ctrl.startAt - 1)}" ng-click="$ctrl.goToCarousel(carousel, $event)"><!--
            --><span></span><!--
            --><p ng-if="::(($index + 1) == 1)"> Order </p><!--
            --><p ng-if="::(($index + 1) == 2)"> Built </p><!--
            --><p ng-if="::(($index + 1) == 3)"> Shipment </p><!--
            --><p ng-if="::(($index + 1) == 4)"> Delivery </p><!--
     --></a>
    </div><!-- pager end -->

    <!-- prev -->
    <!--
    <a class="carousel__prev animate-fade-in animate-fade-out needsclick" enter-speed="fast" leave-speed="fast" href="#" title="Go to next" ng-show="($ctrl.activeAt > ($ctrl.startAt - 1))" ng-click="$ctrl.goToCarouselIndex(($ctrl.activeAt - 1), $event)" ng-if="::!CONFIG.device.isPhone"><i class="icon icon-chevron-left"></i></a>
    -->

    <!-- next -->
    <!--
    <a class="carousel__next animate-fade-in animate-fade-out needsclick" enter-speed="fast" leave-speed="fast" href="#" title="Go to next" ng-show="($ctrl.activeAt < ($ctrl.data.children.length - 1))" ng-click="$ctrl.goToCarouselIndex(($ctrl.activeAt + 1), $event)" ng-if="::!CONFIG.device.isPhone"><i class="icon icon-chevron-right"></i></a>
    -->

</div><!-- carousel end -->
