<!-- footer -->
<div class="footer">

    <!-- row -->
    <div class="footer__row">

        <!-- cell -->
        <div class="footer__cell">
            <div class="footer__cell__followus" ng-cloak>
                {{::$ctrl.data.subline}}
            </div>
        </div><!-- cell end -->

    </div><!-- row end -->

    <!-- row -->
    <div class="footer__row">

        <!-- cell -->
        <div class="footer__cell">
            <!-- links -->
            <ul class="footer__cell__links footer__cell__links--social">
                <li><a ng-href="https://www.facebook.com/VolkswagenAustralia/" target="_blank" title="Facebook"><!--
                     --><i class="icon icon-facebook"></i><!--
             --></a></li><!--

             --><li><a ng-href="https://www.instagram.com/vwaustralia/" target="_blank" title="Instagram"><!--
                     --><i class="icon icon-instagram"></i><!--
             --></a></li>
            </ul><!-- links end -->
        </div><!-- cell end -->

    </div><!-- row end -->

    <!-- row -->
    <div class="footer__row footer__row--legal" ng-if="::$ctrl.data.children">

        <!-- cell -->
        <div class="footer__cell">
            <!-- links -->
            <ul class="footer__cell__links footer__cell__links--inline">
                <li ng-repeat="link in ::$ctrl.data.children"><!--
                 --><a ng-href="{{::link.cta.url}}" target="_blank" title="{{::link.cta.title}}" ng-cloak>
                        {{::link.cta.label}}
                    </a><!--
             --></li><!--

             --><li ng-if="::$ctrl.year"><a ng-cloak>
                    &copy; {{::$ctrl.year}} Volkswagen Australia
                </a></li>
            </ul><!-- links end -->
        </div><!-- cell end -->

    </div><!-- row end -->

    <!-- row -->
    <div class="footer__row footer__row--disclaimer" ng-if="::$ctrl.disclaimer">

        <!-- cell -->
        <div class="footer__cell footer__cell--6" ng-if="::$ctrl.disclaimer.left">
            <p ng-cloak> {{::$ctrl.disclaimer.left}} </p>
        </div><!--
     --><div class="footer__cell footer__cell--6" ng-if="::$ctrl.disclaimer.right">
            <p ng-cloak> {{::$ctrl.disclaimer.right}} </p>
        </div><!--
     --><div class="footer__cell footer__cell--12" ng-if="::$ctrl.disclaimer.length">
            <p ng-cloak> {{::$ctrl.disclaimer}} </p>
        </div><!-- cell end -->

    </div><!-- row end -->

</div><!-- footer end -->

<!-- back to top -->
<a class="footer__back-to-top animate-fade-out needsclick" animate-fade-in ng-if="$ctrl.isToTopVisible" ng-href="#scroll-to-top" title="Back to top" ng-click="$ctrl.scrollToTop($event)" enter-speed="fast" leave-speed="fast" enter-complete-class="footer__back-to-top--is-visible"><i class="icon icon-chevron-double-up"></i></a><!-- back to top end -->
