<!-- header -->
<div class="header" ng-if="$ctrl.isVisible" animate-fade-in enter-delay="3" enter-speed="slow">

	<!-- link -->
	<a class="header__link" href="http://www.volkswagen.com.au/" target="_self" title="Go to Volkswagen Australia">
		<!-- logo desktop -->
		<img class="header__logo header__logo--desktop" ng-src="{{::($ctrl.CONFIG.path.images + 'header-logo.png')}}" alt="" ng-if="::!$ctrl.CONFIG.device.isPhone">

		<!-- logo mobile -->
		<img class="header__logo header__logo--mobile" ng-src="{{::($ctrl.CONFIG.path.images + 'header-logo_mobile.png')}}" alt="">
	</a><!-- link end -->

</div>
