<!-- browser meta data -->
<base href="/">
<meta charset="utf-8">
<meta name="fragment" content="!"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>

<!-- default meta data -->
<title> Volkswagen ES5 Angular Skeleton </title>
<meta name="description" content="Volkswagen ES5 Angular Skeleton">

<link rel="icon" type="image/png" href="src/assets/images/iconx/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="src/assets/images/iconx/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="src/assets/images/iconx/pwa-192x192.png" sizes="192x192">
<link rel="apple-touch-icon" href="src/assets/images/iconx/apple-touch-icon-180x180.png" sizes="180x180">
<meta name="msapplication-config" content="src/assets/images/iconx/browserconfig.xml">

<!-- schema.org markup for google+ -->
<meta itemprop="name" content="Volkswagen">
<meta itemprop="description" content="Volkswagen ES5 Angular Skeleton">
<meta itemprop="image" content="">

<!-- twitter card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@publisher_handle">
<meta name="twitter:creator" content="@author_handle">

<meta name="twitter:title" content="Volkswagen">
<meta name="twitter:description" content="Volkswagen ES5 Angular Skeleton">
<meta name="twitter:image:src" content="">

<!-- open graph data -->
<meta property="og:type" content="article" />
<meta property="og:title" content="Volkswagen" />
<meta property="og:description" content="Volkswagen ES5 Angular Skeleton" />
<meta property="og:image" content=""/>
