<!-- ming zing tiles -->
<div class="ming-zing-tiles">

    <!-- ming zing tiles - grid -->
    <div class="ming-zing-tiles__grid">

        <!-- ming zing tiles - figure -->
        <figure class="ming-zing-tiles__effect-ming ming-zing-tiles__figure" ng-repeat="tile in ::$ctrl.data" ng-class="{'ming-zing-tiles__figure--desktop': tile.headline, 'ming-zing-tiles__effect-ming--focus': tile.isFocussed}">

            <!-- image -->
            <img class="image" ng-src="{{::tile.image}}" alt=""/>

            <!-- content -->
            <figcaption>
                <h2 ng-if="::tile.headline" ng-cloak> {{::tile.headline}} </h2>
                <p ng-if="::tile.copy" ng-cloak> {{::tile.copy}} </p>
            </figcaption>

        </figure><!-- ming zing tiles - figure end -->

    </div><!-- ming zing tiles - grid end -->

</div><!-- ming zing tiles end -->
