<!-- overlay loader -->
<div class="overlay-loader animate-fade-out" ng-if="$ctrl.isLoading" animate-fade-in enter-speed="slow" leave-speed="slow">

    <!-- overlay loader - spinner -->
    <svg class="overlay-loader__spinner overlay-loader__spinner--{{::$ctrl.position}}" viewBox="0 0 40 40">
        <rect class="a" y="16" y="0"  width="8" height="8" rx="2" ry="2"></rect>
        <rect class="b" x="4"  y="28" width="8" height="8" rx="2" ry="2"></rect>
        <rect class="c" x="16" y="32" width="8" height="8" rx="2" ry="2"></rect>
        <rect class="d" x="28" y="28" width="8" height="8" rx="2" ry="2"></rect>
        <rect class="e" x="32" y="16" width="8" height="8" rx="2" ry="2"></rect>
        <rect class="f" x="28" y="4"  width="8" height="8" rx="2" ry="2"></rect>
        <rect class="g" x="16" y="0"  width="8" height="8" rx="2" ry="2"></rect>
        <rect class="h" x="4"  y="4"  width="8" height="8" rx="2" ry="2"></rect>
    </svg><!-- overlay loader - spinner end -->

</div><!-- overlay loader end -->
