<!-- shipping carousel outer -->
<div class="shpg-carousel-outer" animate-slide-up-in enter-speed="slow" enter-delay="0.1">

    <!-- shipping carousel -->
    <div class="shpg-carousel">

        <!-- container -->
        <div class="swiper-container shpg-carousel__container">
            <!-- wrapper -->
            <div class="swiper-wrapper shpg-carousel__wrapper">
                <!-- slide -->
                <div class="swiper-slide shpg-carousel__slide" ng-repeat="marker in ::$ctrl.data" ng-init="$last && $ctrl.onRenderComplete()">

                    <!-- slide - inner -->
                    <div class="shpg-carousel__slide__inner">

                            <!-- slide - image -->
                            <div class="image shpg-carousel__slide__image">

                                <!-- image layout - desktop -->
                                <img class="image__layout image__layout--desktop" ng-src="{{::($ctrl.CONFIG.path.images + 'layout_11_5.png')}}" alt="" default-color="rgb(128,136,144)" dominant-color="{{::marker.content.image.desktop}}" ng-if="::!$ctrl.CONFIG.device.isPhone">

                                <!-- image layout - mobile -->
                                <img class="image__layout image__layout--mobile" ng-src="{{::($ctrl.CONFIG.path.images + 'layout_11_5.png')}}" alt="" default-color="rgb(128,136,144)" dominant-color="{{::marker.content.image.mobile}}">


                                <!-- image cover - desktop -->
                                <div class="image__cover image__cover--desktop" ng-style="::{'background-image': 'url({{::marker.content.image.desktop}})'}" default-color="rgb(128,136,144)" dominant-color="{{::marker.content.image.desktop}}" ng-if="::!$ctrl.CONFIG.device.isPhone"></div>

                                <!-- image cover - mobile -->
                                <div class="image__cover image__cover--mobile" ng-style="::{'background-image': 'url({{::marker.content.image.mobile}})'}" default-color="rgb(128,136,144)" dominant-color="{{::marker.content.image.mobile}}"></div>


                                <!-- image cover - desktop - overlay -->
                                <!-- note: the in animation is not required here since the loading -->
                                <!-- occurs only once and the component already does in animations -->
                                <div class="image__cover image__cover--desktop image__cover--desktop--overlay animate-fade-out" default-color="rgb(128,136,144)" dominant-color="{{::marker.content.image.desktop}}" ng-if="::!$ctrl.CONFIG.device.isPhone" ng-show="$ctrl.isLoading" leave-speed="slow" leave-delay="10"></div>

                                <!-- image cover - mobile - overlay -->
                                <!-- note: the in animation is not required here since the loading -->
                                <!-- occurs only once and the component already does in animations -->
                                <div class="image__cover image__cover--mobile image__cover--mobile--overlay animate-fade-out" default-color="rgb(128,136,144)" dominant-color="{{::marker.content.image.mobile}}" ng-show="$ctrl.isLoading" leave-speed="slow" leave-delay="10"></div>

                            </div><!-- slide - image end -->

                            <!-- slide - content -->
                            <div class="shpg-carousel__slide__content">
                                <!-- slide - overlay -->
                                <!-- note: the in animation is not required here since the loading -->
                                <!-- occurs only once and the component already does in animations -->
                                <div class="shpg-carousel__slide__overlay animate-fade-out" ng-show="!$ctrl.isReady" leave-speed="slow" leave-delay="0">

                                    <!-- slide - content - headline -->
                                    <h4 class="shpg-carousel__slide__content__headline">
                                        <!-- slide - overlay - span - headline -->
                                        <span class="shpg-carousel__slide__overlay__span" type="headline" style="width: 68%">&nbsp;</span>
                                    </h4>

                                    <!-- slide - content - copy -->
                                    <p class="shpg-carousel__slide__content__copy"><!--
                                     --><!-- slide - overlay - span - copy  --><!--
                                     --><span class="shpg-carousel__slide__overlay__span" type="copy" style="width: 78%;">&nbsp;</span><!--
                                     --><span class="shpg-carousel__slide__overlay__span" type="copy" style="width: 94%;">&nbsp;</span><!--
                                     --><span class="shpg-carousel__slide__overlay__span" type="copy" style="width: 90%;">&nbsp;</span><!--
                                     --><span class="shpg-carousel__slide__overlay__span" type="copy" style="width: 88%;">&nbsp;</span><!--
                                     --><span class="shpg-carousel__slide__overlay__span" type="copy" style="width: 68%;">&nbsp;</span><!--
                                 --></p>
                                </div>

                                <!-- slide - content - headline -->
                                <h4 class="shpg-carousel__slide__content__headline" ng-bind="::marker.content.headline"></h4>

                                <!-- slide - content - copy -->
                                <p class="shpg-carousel__slide__content__copy" ng-bind="::marker.content.copy"></p>

                            </div><!-- slide - content end -->

                    </div><!-- slide - inner end -->

                </div><!-- slide end -->
            </div><!-- wrapper end -->
        </div><!-- container end -->

        <!-- pager -->
        <div class="shpg-carousel__pager"><!--
         --><!-- pager - item --><!--
         --><a class="shpg-carousel__pager__item needsclick" ng-repeat="marker in ::$ctrl.data" href="#" title="{{::('Go to ' + (($first || $last) ? ($first ? 'first' : 'last') : 'next'))}}" ng-class="{'shpg-carousel__pager__item--disabled': $ctrl.isLoading || !$ctrl.isReady, 'shpg-carousel__pager__item--active': $index === $ctrl.activeAt}" ng-click="$ctrl.onPagerClick($index, $event)">
                &nbsp;
            </a><!-- pager - item end --><!--
     --></div><!-- pager end -->

    </div><!-- shipping carousel -->

</div><!-- shipping carousel outer end -->
