<!-- shipping pathway -->
<div class="shpwy">

    <!-- map area -->
    <div class="image shpwy__map-area">

        <!-- map area - image (used for layout) -->
        <div class="image shpwy__map-area__layout">
            <!-- image layout - desktop -->
            <img class="image__layout image__layout--desktop shpwy__map-area__layout--desktop" ng-src="{{::($ctrl.CONFIG.path.images + 'layout_shipping_desktop.png')}}" alt="">

            <!-- image layout - mobile -->
            <img class="image__layout image__layout--mobile shpwy__map-area__layout--mobile" ng-src="{{::($ctrl.CONFIG.path.images + 'layout_shipping_mobile.png')}}" alt="">
        </div><!-- map area - image end -->

        <!-- map area - field -->
        <div class="shpwy__map-area__field">
            <h4 class="shpwy__map-area__txt">
                <i class="icon icon-map-pointer shpwy__map-area__txt__icon"></i><!--
             --><span class="shpwy__map-area__txt__span animate-fade-out" ng-repeat="text in $ctrl.mapFieldTexts" ng-bind="text" ng-class="{'shpwy__animation__txt-loading' : $ctrl.isLoading || !$ctrl.isReady}" animate-fade-in>Tracking my journey</span>
            </h4>
        </div><!-- map area - field end -->

        <!-- map area - marker -->
        <!-- note: the in animation is not required since the loading -->
        <!-- occurs only once and the page already does in animations -->
        <div class="shpwy__mrkr shpwy__map-area__mrkr animate-slide-up-out" ng-if="$ctrl.isLoading" leave-speed="default" leave-delay="0">
            <!-- marker - image -->
            <img class="shpwy__mrkr__image" ng-src="{{::($ctrl.data.vehicle['model_image'] ? $ctrl.data.vehicle['model_image'] : 'https://via.placeholder.com/800x450.jpg/ffffff/808890')}}" alt="">

            <!-- marker - svg -->
            <svg class="shpwy__mrkr__svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 123.9 186.9" style="enable-background: new 0 0 123.9 186.9;" xml:space="preserve">

                <!-- marker - pin -->
                <g class="shpwy__mrkr__pin">
                    <!-- marker - pin - pulse, dot -->
                    <circle class="shpwy__mrkr__pin__pulse shpwy__mrkr__pin__pulse--outer shpwy__animation__mrkr-pulse shpwy__animation__mrkr-pulse--outer" cx="61.9" cy="125" r="61.9"/>
                    <circle class="shpwy__mrkr__pin__pulse shpwy__mrkr__pin__pulse--inner shpwy__animation__mrkr-pulse shpwy__animation__mrkr-pulse--inner" cx="61.9" cy="125" r="36.5"/>
                    <circle class="shpwy__mrkr__pin__dot shpwy__animation__mrkr-fade shpwy__animation__mrkr-fade--in" cx="61.9" cy="125" r="15.6"/>

                    <g>
                        <!-- marker - pin - circle, path -->
                        <circle class="shpwy__mrkr__pin__circle" cx="61.9" cy="41.8" r="41.8"/>
                        <path class="shpwy__mrkr__pin__path" d="M101.8,41.6c0,27.9-39.8,84.4-39.8,84.4S22.1,69.6,22.1,41.6c0-22,17.8-39.8,39.8-39.8S101.8,19.6,101.8,41.6z"/>
                    </g>
                </g><!-- marker - pin end -->

            </svg><!-- marker - svg end -->
        </div><!-- map area - marker end -->

        <!-- map area - map -->
        <div class="shpwy__map-area__map">
            <!-- contains layers and tiles -->
            <!-- generated from google maps -->
        </div><!-- map area - map end -->

        <!-- map area - overlay -->
        <!-- note: the in animation is not required since the loading -->
        <!-- occurs only once and the page already does in animations -->
        <div class="shpwy__map-area__overlay animate-fade-out" ng-if="$ctrl.isLoading" leave-speed="slow" leave-delay="1">
            <!-- overlay user to cover the -->
            <!-- map while tiles are loaded -->
        </div><!-- map area - overlay end -->

    </div><!-- map area end -->

</div><!-- shipping pathway end -->

<!-- shipping carousel -->
<shipping-carousel ng-if="$ctrl.mapMarkers.length" data="::$ctrl.mapMarkers" start-at="{{::$ctrl.startAt}}" is-loading="$ctrl.isLoading" is-ready="$ctrl.isReady" on-update="$ctrl.onCarouselUpdate"></shipping-carousel>
