<!-- teaser image big -->
<div class="teaser-image-big teaser-image-big--{{::$ctrl.type}}">

    <!-- image -->
    <div class="image teaser-image-big__image">
        <!-- image layout - desktop -->
        <img class="image__layout image__layout--desktop" ng-src="{{::($ctrl.CONFIG.path.images + 'layout_11_5.png')}}" alt="" dominant-color="{{::$ctrl.data.image.desktop}}" ng-if="::!$ctrl.CONFIG.device.isPhone">

        <!-- image layout - mobile -->
        <img class="image__layout image__layout--mobile" ng-src="{{::($ctrl.CONFIG.path.images + 'layout_11_5.png')}}" alt="" dominant-color="{{::$ctrl.data.image.mobile}}">

        <!-- image cover - desktop -->
        <div class="image__cover image__cover--desktop" ng-style="::{'background-image':'url({{::$ctrl.data.image.desktop}})'}" dominant-color="{{::$ctrl.data.image.desktop}}" ng-if="::!$ctrl.CONFIG.device.isPhone"></div>

        <!-- image cover - mobile -->
        <div class="image__cover image__cover--mobile" ng-style="::{'background-image':'url({{::$ctrl.data.image.mobile}})'}" dominant-color="{{::$ctrl.data.image.mobile}}"></div>
    </div><!-- image end -->

    <!-- content default -->
    <div ng-if="::($ctrl.data.headline || $ctrl.data.copy || $ctrl.data.cta || $ctrl.data['cta-alt'])" class="teaser-image-big__content teaser-image-big__content--{{::$ctrl.data.attr.align}}">

        <h2 ng-if="::$ctrl.data.headline" ng-bind-html="::$ctrl.data.headline"> </h2>
        <p ng-if="::$ctrl.data.copy" ng-bind-html="::$ctrl.data.copy"> </p>

        <a class="button" ng-if="::$ctrl.data.cta" href="{{::$ctrl.data.cta.url}}" target="{{::$ctrl.data.cta.target}}" title="{{::$ctrl.data.cta.title}}"><span ng-cloak> {{::$ctrl.data.cta.label}} </span></a><!--

     --><a class="button button--secondary" ng-if="::$ctrl.data['cta-alt']" href="{{::$ctrl.data['cta-alt'].url}}" target="{{::$ctrl.data['cta-alt'].target}}" title="{{::$ctrl.data['cta-alt'].title}}"><span ng-cloak> {{::$ctrl.data['cta-alt'].label}} </span></a>

    </div><!-- content default end -->

</div><!-- teaser image big end -->
