@font-face {
	font-family: "icons-volkswagen-app";
	src: url('../assets/fonts/icons-volkswagen-app.eot');
	src: url('../assets/fonts/icons-volkswagen-app.eot?#iefix') format('eot'),
		 url('../assets/fonts/icons-volkswagen-app.woff') format('woff'),
		 url('../assets/fonts/icons-volkswagen-app.ttf') format('truetype'),
		 url('../assets/fonts/icons-volkswagen-app.svg#icons-volkswagen-app') format('svg');
}

.icon:before {
	font-family: "icons-volkswagen-app";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	font-style: normal;
	font-weight: normal;
	font-variant: normal;

	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-transform: none;
	text-decoration: none;
}


.icon-adaptive-cruise-control:before {
	content: "\E001";
}

.icon-adaptive-light-system:before {
	content: "\E002";
}

.icon-adaptive-suspension-dampers:before {
	content: "\E003";
}

.icon-air-suspension:before {
	content: "\E004";
}

.icon-airbag-seatbelt-system:before {
	content: "\E005";
}

.icon-airbag-seatbelt-system_2:before {
	content: "\E006";
}

.icon-antilock-brake-system:before {
	content: "\E007";
}

.icon-automatic-gearbox:before {
	content: "\E008";
}

.icon-bonnet:before {
	content: "\E009";
}

.icon-boot-lid:before {
	content: "\E00A";
}

.icon-brake-lights:before {
	content: "\E00B";
}

.icon-brake-pad-monitoring:before {
	content: "\E00C";
}

.icon-brake-system:before {
	content: "\E00D";
}

.icon-bulb-monitoring:before {
	content: "\E00E";
}

.icon-chevron-double-up:before {
	content: "\E00F";
}

.icon-chevron-left:before {
	content: "\E010";
}

.icon-chevron-right:before {
	content: "\E011";
}

.icon-close-thin:before {
	content: "\E012";
}

.icon-close:before {
	content: "\E013";
}

.icon-convertible-roof:before {
	content: "\E014";
}

.icon-cruise-control:before {
	content: "\E015";
}

.icon-diesel-particulate-filter:before {
	content: "\E016";
}

.icon-doors:before {
	content: "\E017";
}

.icon-download:before {
	content: "\E018";
}

.icon-electronic-stability-programme:before {
	content: "\E019";
}

.icon-emissions-control-engine:before {
	content: "\E01A";
}

.icon-engine-cooling-system:before {
	content: "\E01B";
}

.icon-engine-management-lamp:before {
	content: "\E01C";
}

.icon-engine-oil-level:before {
	content: "\E01D";
}

.icon-engine-oil:before {
	content: "\E01E";
}

.icon-face-laughing:before {
	content: "\E01F";
}

.icon-face-smiling:before {
	content: "\E020";
}

.icon-face-sunglasses:before {
	content: "\E021";
}

.icon-facebook:before {
	content: "\E022";
}

.icon-glow-plug:before {
	content: "\E023";
}

.icon-google-plus:before {
	content: "\E024";
}

.icon-headlight-range-control:before {
	content: "\E025";
}

.icon-help:before {
	content: "\E026";
}

.icon-ignition-switch:before {
	content: "\E027";
}

.icon-instagram:before {
	content: "\E028";
}

.icon-key-notinvehicle:before {
	content: "\E029";
}

.icon-lane-assist:before {
	content: "\E02A";
}

.icon-link-arrow:before {
	content: "\E02B";
}

.icon-linkedin:before {
	content: "\E02C";
}

.icon-location:before {
	content: "\E02D";
}

.icon-low-fuel-level:before {
	content: "\E02E";
}

.icon-map-pointer:before {
	content: "\E02F";
}

.icon-menu:before {
	content: "\E030";
}

.icon-minus:before {
	content: "\E031";
}

.icon-mouse-scroll:before {
	content: "\E032";
}

.icon-pinterest:before {
	content: "\E033";
}

.icon-play:before {
	content: "\E034";
}

.icon-plus:before {
	content: "\E035";
}

.icon-power-steering-system:before {
	content: "\E036";
}

.icon-press-brake-pedal:before {
	content: "\E037";
}

.icon-press-clutch-pedal:before {
	content: "\E038";
}

.icon-rainandlight-sensor:before {
	content: "\E039";
}

.icon-rear-fog-lights:before {
	content: "\E03A";
}

.icon-rear-spoiler:before {
	content: "\E03B";
}

.icon-seat-belt-buckles:before {
	content: "\E03C";
}

.icon-share:before {
	content: "\E03D";
}

.icon-steering-lock:before {
	content: "\E03E";
}

.icon-tick:before {
	content: "\E03F";
}

.icon-towing-hitch:before {
	content: "\E040";
}

.icon-twitter:before {
	content: "\E041";
}

.icon-tyre-pressure-monitoring:before {
	content: "\E042";
}

.icon-vehicle-charging-system:before {
	content: "\E043";
}

.icon-windscreen-washer-fluid-level:before {
	content: "\E044";
}

.icon-youtube:before {
	content: "\E045";
}
