<?xml version="1.0"?>
<configuration>

    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>

        <rewrite>
            <rules>
                <rule name="Rewrite URLs" stopProcessing="true">
                    <match negate="true" url="^(assets|css|data|js|static|api)"/>
                    <action type="Rewrite" url="index.aspx"/>
                </rule>
            </rules>
        </rewrite>

        <defaultDocument enabled="true">
            <files>
                <clear/>
                <add value="index.aspx"/>
                <add value="index.html"/>
            </files>
        </defaultDocument>
    </system.webServer>

    <system.web>
        <compilation debug="true"/>
    </system.web>

    <system.web>
        <customErrors mode="Off"/>
        <authorization>
                <allow users ="*" />
        </authorization>
    </system.web>

</configuration>
